# --find-links https://download.pytorch.org/whl/torch_stable.html
# torch==2.1.0

PyYAML
accelerate
datasets
deepspeed
einops
evaluate
peft
protobuf
scikit-learn
scipy
sentencepiece
fire
pillow
transformers
isort
black
wandb
opencv-python
jupyter
jupyterlab
matplotlib
japanize-matplotlib
pre-commit
hydra-core
tenacity
transformers_stream_generator
# torchvision==0.16.0
tiktoken==0.7.0
google-generativeai==0.6.0
#llava @ git+https://github.com/haotian-liu/LLaVA@main # if you want to use llava
#llavajp @ git+https://github.com/hibikaze-git/LLaVA-JP@feature/package # if you want to use llavajp
llavajp @ git+https://github.com/hibikaze-git/LLaVA-JP@feature/tanuki-moe
anthropic==0.28.0
