__pycache__

*.o
*.swp
*.so
*.ii
*.ptx
*.egg-info
*.cubin
*.fatbin*
*.module_id
*.nsys-rep
*.ncu-rep
*.sqlite
*.onnx
*.py[cod]
*$py.class
*.jsonl
*.log
slurm*

miniconda3/*

Megatron-LM/build
Megatron/.vscode
.coverage_*

Megatron-LM/apex/build
Megatron-LM/apex/docs/build

Megatron-LM/TransformerEngine/__pycache__
Megatron-LM/TransformerEngine/build
Megatron-LM/TransformerEngine/build

learning_tokenizer/learning_corpus/*
learning_tokenizer/preprocess_data/*

tokenize/input_jsonl/*
tokenize/logs/*
tokenize/tokenized_data/*

training/checkpoints/*
training/training_corpus/*
training/HF_data/*